$cyan-darken-1:        #00ACC1
$cyan-darken-2:        #0097a7
$amber-lighten-4:      #FFECB3
$amber-lighten-3:      #FFE082
$amber-lighten-2:      #FFD54F
$amber-lighten-1:      #FFCA28
$amber-darken-1:       #FFB300
$light-blue-lighten-1: #29B6F6
$light-blue-lighten-2: #4FC3F7
$light-blue-darken-1:  #039BE5
$blue-darken-3:        #1565C0
$blue-darken-4:        #0D47A1
$blue-lighten-1:       #42A5F5
$blue-darken-1:        #1E88E5
$blue-darken-2:        #1976D2
$grey-lighten-5:       #FAFAFA
$grey-lighten-4:       #F5F5F5
$grey-lighten-3:       #EEEEEE
$grey-lighten-2:       #E0E0E0
$grey-lighten-1:       #BDBDBD
$grey-darken-1:        #757575
$grey-darken-2:        #616161

$darktheme-light-blue: #80c3fc
$darktheme-mid-blue:   #4a8dc7

$lighttheme-blue:      #486da8
$lighttheme-salmon:    #d35147
$lighttheme-green:     #e2bf30
$lighttheme-cyan:      #30998e
$lighttheme-lightgrey: #f2f1f1

//$app-color:            $lighttheme-blue
//$app-header-color:     $lighttheme-blue
//$button-color:         $lighttheme-blue
//$app-background-color: $lighttheme-lightgrey
//$text-color:           $grey-darken-2
//$border-color:         $grey-lighten-2
//$divider-color:        $grey-lighten-2
//$nav-border-color:     $border-color
//$login-nav-color:      $app-color

$app-color:            $darktheme-light-blue
$app-header-color:     $darktheme-mid-blue
$button-color:         $darktheme-mid-blue
$app-background-color: $grey-darken-2
$text-color:           $grey-lighten-4
$border-color:         $grey-lighten-2
$divider-color:        $grey-lighten-2
$nav-border-color:     $app-background-color
$login-nav-color:      $app-background-color

$link-color:           $app-color
$app-font:             'Poppins', sans-serif

$app-accent-color:      $amber-darken-1
$info-color:            $amber-lighten-4
$info-color-dark:       $amber-lighten-3



/* For Report */
$default-badge-color:    rgb(155, 155, 155)
$called-variant-color:   $app-color
$current-color:          rgb(53, 134, 192)
$current-frame-color:    #969696
$hom-color:              rgba(173, 38, 38, 0.65)
$het-color:              rgb(181, 181, 181)
$homref-color:           rgb(216, 216, 216)
$bookmark-color:         #3773A7
$clinvar-path-color:     #ad494A
$clinvar-lpath-color:    #FB7737
$clinvar-uc-color:       rgba(231,186,82,1)
$clinvar-benign-color:   rgba(156,194,49,1)
$clinvar-lbenign-color:  rgba(181,207,107,1)
$clinvar-other-color:    rgb(189,189,189)
$clinvar-cd-color:       rgb(111, 182, 180)
