$cyan-darken-1:    #00ACC1
$cyan-darken-2:    #0097a7

$amber-lighten-5:  #FFF8E1
$amber-lighten-4:  #FFECB3
$amber-lighten-3:  #FFE082
$amber-lighten-2:  #FFD54F
$amber-lighten-1:  #FFCA28
$amber-darken-1:   #FFB300






$app-color:            rgb(81, 127, 163)
$app-color-light:      rgb(83, 126, 173)


$app-accent-color:    $amber-darken-1

$text-color:            rgb(113,113,113)

$link-color:            $app-color

$info-color:            $amber-lighten-4
$info-color-dark:       $amber-lighten-3


$play-button-color:     #c6c6c6

$divider-color:         #dddddd

$default-badge-color:   rgb(155, 155, 155)

$iobio-font:           'Quicksand'
$app-font:             'Quattrocento Sans', sans-serif



$called-variant-color:  $app-color

$current-color:                 rgb(53, 134, 192)
$current-frame-color:           #969696


$hom-color:                       rgba(173, 38, 38, 0.65)
$het-color:                       rgb(181, 181, 181)
$homref-color:                    rgb(216, 216, 216)

$bookmark-color:                  #3773A7

$clinvar-path-color:     #ad494A
$clinvar-lpath-color:    #FB7737
$clinvar-uc-color:       rgba(231,186,82,1)
$clinvar-benign-color:   rgba(156,194,49,1)
$clinvar-lbenign-color:  rgba(181,207,107,1)
$clinvar-other-color:    rgb(189,189,189)
$clinvar-cd-color:       rgb(111, 182, 180)
